﻿@using ManajemenStok.Helper
@using Microsoft.AspNet.Identity
@model ReportInventoryViewModel
@using ManajemenStok.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "Info Status Stok";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}


<style>
    #formtable table th,
    #formtable table td {
        white-space: nowrap;
    }
</style>

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading"></div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Filter</label>
                <input type="text" name="all" data-itable-filter="All" class="form-control" value="" />
            </div>
            <div class="col-md-3">
                <label>Sub Kategori</label>
                <div class="input-group">
                    <span class=" input-group-addon">
                        <input id="plhfiltersubbrg" name="Pilihfiltersub" type="checkbox" onclick="itable.pilihsub(); itable.refresh();" />
                    </span>
                    <select id="subkategorislct" onchange="itable.pageindex = 0; itable.refresh();" name="subKategori" data-itable-filter="SubKategori" class="form-control" disabled>@Html.Raw(HList.SetupKategori)</select>
                </div>
            </div>
            <div class="col-md-3">
                <label>Lokasi</label>
                <div class="input-group">
                    <span class=" input-group-addon">
                        <input id="plhfilterlksid" name="PilihfilterLksidd" type="checkbox" onclick="itable.pilihlks(); itable.refresh();" />
                    </span>
                    <select id="lokasiidslct" onchange="itable.pageindex = 0; itable.refresh();" name="LokasiIdFilter" data-itable-filter="LokasiIdFilter" class="form-control" disabled>@Html.Raw(HList.SetupBarangLokasi)</select>
                </div>
            </div>
            <div class="col-md-1">
                <label>Page</label>
                <select class="form-control itable-pagesize" style="width: auto;" name="show">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <div class="datatable-header">

                </div>
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic no-footer table-xxs table-striped">
                    <thead>
                        <tr class="bg-slate">
                            <th class="sorting" data-itable-sorting="Kode_Barang">Kode<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Barang">Nama<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Sub_Kategori">Sub Kategori<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="Max_Stok">Max<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="Min_Stok">Min<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="Stok">Stok<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="StokTotal">Total<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="HargaBeli">Harga<i></i></th>
                            <th class="sorting text-center" style="width: 100px;">Action<i></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<div id="modalreport" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Report</h4>
            </div>
            <form id="formprint" onsubmit="modalprintonsubmit(this,event)">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">FromDate</label>
                            <div class="col-md-9">
                                <input type="date" name="FromDate" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">EndDate</label>
                            <div class="col-md-9">
                                <input type="date" name="EndDate" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">BarangID</label>
                            <div class="col-md-9">
                                <input name="BarangID" required class="form-control hide" readonly />
                                <input name="BarangIDNama" required class="form-control " readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Lokasi</label>
                            <div class="col-md-9">
                                <select id="lokasiid" class="form-control" name="LokasiNama" required>@Html.Raw(HList.LokasiReportInfoStok)</select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button onclick="printPdf()" type="submit" class="btn btn-success" value="pdf"><i class="glyphicon glyphicon-print"></i> Print PDF</button>
                    <button onclick="printExcel()" type="submit" class="btn btn-success" value="excel"><i class="glyphicon glyphicon-print"></i> Print Excel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'Stok',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="5" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="alpha-' + status + '">';

                        // column
                        tbody += '<td>' + value.Kode + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td>' + value.Nama_Sub_Kategori + '</td>';
                        tbody += '<td class="text-center">' + value.Max + '</td>';
                        tbody += '<td class="text-center">' + value.Min + '</td>';
                        tbody += '<td class="text-center">' + getcurrencyfromfloat(value.Stok.toFixed(1)) + '</td>';
                        tbody += '<td class="text-center">' + getcurrencyfromfloat(value.Total.toFixed(1)) + '</td>';
                        tbody += '<td class="text-center">' + getcurrencyfromfloat(value.Harga) + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a onclick = "openmodalreport({ kode : \'' + value.Id + '\'}, { namabarang : \'' + value.Nama + '\'})"><i class="icon-printer"></i> Report</a></li>';
                            tbody += '</ul>';
                            tbody += '</li>';
                            tbody += '</ul>';
                            tbody += '</td>';
                            tbody += '</tr>';
                        });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        $('#formtable [data-itable-filter="SubKategori"]')[0].value = '';
        var idlokasi = '@Request.Cookies["Inventory_Section_LokasiId"].Value';
        var namalokasi = '@Request.Cookies["Inventory_Section_Name"].Value';
        const optionLokasi = new Option(namalokasi, idlokasi, true, true);
        $('#formtable [data-itable-filter="LokasiIdFilter"]')[0].append(optionLokasi);
        itable.refresh();

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            f['statusobat'].value = $('#formtable [data-itable-filter="Status"]')[0].value;
            f['subkategori'].value = $('#formtable [data-itable-filter="SubKategori"]')[0].value;
            //f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e, status) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#formtable [data-itable-filter="Status"]')[0].value = f['statusobat'].value;
            $('#formtable [data-itable-filter="SubKategori"]')[0].value = f['subkategori'].value;

            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }

        itable.pilihsub = function () {
            $checkbox = $("#plhfiltersubbrg").is(":checked");
            var f = $('#modalfilter form')[0];
            if ($checkbox === true) {
                $('#formtable [data-itable-filter="SubKategori"]').prop('disabled', false);
                //$('#formtable [data-itable-filter="SubKategori"]')[0].value = f['subkategori'].value;
            } else {
                $('#formtable [data-itable-filter="SubKategori"]')[0].value = '';
                $('#formtable [data-itable-filter="SubKategori"]').prop('disabled', true);
            }

        }

        itable.pilihlks = function () {
            $checkbox = $("#plhfilterlksid").is(":checked");
            var f = $('#modalfilter form')[0];
            if ($checkbox === true) {
                $('#formtable [data-itable-filter="LokasiIdFilter"]').prop('disabled', false);
                //$('#formtable [data-itable-filter="LokasiIdFilter"]')[0].value = f['subkategori'].value;
            } else {
                var idlokasi = '@Request.Cookies["Inventory_Section_LokasiId"].Value';
                var namalokasi = '@Request.Cookies["Inventory_Section_Name"].Value';
                const optionLokasi = new Option(namalokasi, idlokasi, true, true);
                $('#formtable [data-itable-filter="LokasiIdFilter"]')[0].append(optionLokasi);
                $('#formtable [data-itable-filter="LokasiIdFilter"]').prop('disabled', true);
            }

        }
    });


</script>

<script>
    let isPdf = false;
    let isExcel = false;
    const printExcel = () => {
        isExcel = true;
        $('#modalreport').trigger('submit');
    };
    const printPdf = () => {
        isPdf = true;
        $('#modalreport').trigger('submit');
    };

    function openmodalreport(kode, namabarang) {
        $('#modalreport').modal();
        let section = '@Request.Cookies["Inventory_Section_LokasiId"].Value';
        $("input[name='Lokasi']").val(section);
        $("input[name='BarangID']").val(kode.kode);
        $("input[name='BarangIDNama']").val(namabarang.namabarang);
        $('#lokasiid').val(section);
        $("input[name='FromDate']").val('@(new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).ToString("yyyy-MM-dd"))');
        $("input[name='EndDate']").val('@(new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month)).ToString("yyyy-MM-dd"))');
    }

    const modalprintonsubmit = (t, e) => {
        e.preventDefault();
        var fromdate = $("input[name='FromDate']").val();
        var todate = $("input[name='EndDate']").val();
        var lokasiid = parseInt($('#lokasiid').val());
        var barangid = parseInt($("input[name='BarangID']").val());
        if (isExcel) {
            window.open('@Url.Action("ExportExcel", "Report")?category=Barang/Stok&filename=SIM_Rpt_KartuGudang_FIFO.rpt&param=[{\'Name\':\'@@FromDate\',\'ParameterType\':4,\'Value\':\'' + fromdate + '\'},{\'Name\':\'@@ToDate\',\'ParameterType\':4,\'Value\':\'' + todate + '\'},{\'Name\':\'@@BarangID\',\'ParameterType\':4,\'Value\':\'' + barangid + '\'},{\'Name\':\'@@LokasiID\',\'ParameterType\':4,\'Value\':\'' + lokasiid + '\'}]');
            isExcel = false;
        } else if (isPdf) {
            window.open('@Url.Action("ExportPDF", "Report")?category=Barang/Stok&filename=SIM_Rpt_KartuGudang_FIFO.rpt&param=[{\'Name\':\'@@FromDate\',\'ParameterType\':4,\'Value\':\'' + fromdate + '\'},{\'Name\':\'@@ToDate\',\'ParameterType\':4,\'Value\':\'' + todate + '\'},{\'Name\':\'@@BarangID\',\'ParameterType\':4,\'Value\':\'' + barangid + '\'},{\'Name\':\'@@LokasiID\',\'ParameterType\':4,\'Value\':\'' + lokasiid + '\'}]');
            isPdf = false;
        }

        $('#modalreport').modal('hide');
    }
</script>

