﻿@using ManajemenStok.Helper
@using ManajemenStok.Models
@{
    ViewBag.Title = "Home";
    var group = Request.Cookies["Inventory_Section_Group"].Value;
}
@model HomeViewModel
    <div class="panel">
        <div class="panel-heading">
            <h6 class="panel-title">Menu</h6>
            <div class="heading-elements">
                <button disabled class="btn btn-link daterange-ranges heading-btn text-semibold">
                    <i class="icon-calendar3 position-left"></i> <span>@(HList.ListBulan.FirstOrDefault(x => x.Value == DateTime.Today.Month.ToString()).Text) @DateTime.Today.Year</span>
                </button>
            </div>
        </div>
        @if (group == "NONE")
        {
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <a href="@Url.Action("Index", "Amprahan")">
                            <div class="panel panel-body bg-success-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-left media-middle">
                                        <i class="icon-basket icon-3x opacity-75"></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Inventory_Amprahan)</h3>
                                        <span class="text-uppercase text-size-mini">Amprahan</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>