﻿@using Microsoft.AspNet.Identity
@{
    var groupsectionname = Request.Cookies["Inventory_Section_Group"] == null ? "" : Request.Cookies["Inventory_Section_Group"].Value;
}
<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Menu"></i></li>
                        <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i> <span>Home</span></a></li>
                    }

                    @if (groupsectionname == "NONE")
                    {
                       
                        <li>
                            <a href="#" class="has-ul"><i class="icon-stack2"></i> <span>Stok</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "Amprahan")">Amprahan</a></li>
                                <li><a href="@Url.Action("Index", "StokOpname")">Stok Opname</a></li>
                                <li><a href="@Url.Action("Index", "InfoStatusStok")">Info Status Stok</a></li>
                            </ul>
                        </li>
                    }
                 
                </ul>
            </div>
        </div>
    </div>
</div>